<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

		<link rel="stylesheet" type=text/css href="{{url_for('static',filename='css/bootstrap.min.css')}}">
		<link rel="stylesheet" type=text/css href="{{url_for('static',filename='css/map.css')}}">
        <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.37.0/mapbox-gl.css' rel='stylesheet' />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.37.0/mapbox-gl.js'></script>
        <script type=application/javascript src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div id='map'></div>
                </div>
                <div class="col-md-4">
                    <p>Latitude, Longitude</p>
                    <p id="current-coords">...</p>

                    <p id="result-prompt">{{template_args['shown_traces']}} Trace(s) </p>
                    <p id="result-prompt">{{template_args['shown_tweets']}} Tweet(s) </p>
                    <br>
                    <br>
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#text" data-toggle="tab">Text</a></li>
                        <li><a href="#coordinates" data-toggle="tab">Coordinates</a></li>
                        <li><a href="#textcoordinates" data-toggle="tab">Text & Coordinates</a></li>
                        <li><a href="#user" data-toggle="tab">Username</a></li>
                        <li><a href="#jcoql" data-toggle="tab">J-CO-QL</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="text">
                            <form action="/treets/searchText" method="post">
                                <div class="form-group">
                                    <label for="src">Text:</label>
                                    <input type="text" class="form-control" id="src" name="src">
                                    <!--label for="lim1">Limit:<input type="checkbox" class="form-control" checked id="lim1" name="lim1"></label-->
                                </div>
                                <button type="submit" class="btn btn-default" name="SearchText">Search</button>
                            </form>
                        </div>
                        <div class="tab-pane" id="coordinates">
                            <form action="/treets/geo" method="post">
                                <div class="form-group">
                                    <label for="lat">lat:</label>
                                    <input type="text" class="form-control" id="lat" name="lat">
                                    <label for="lon">lon:</label>
                                    <input type="text" class="form-control" id="lon" name="lon">
                                    <label for="radius">radius [km]:</label>
                                    <input type="text" class="form-control" id="radius" name="radius" value="15">
                                    <!--label for="lim2" >Limit:<input type="checkbox" class="form-control" checked id="lim2" name="lim2"></label-->
                                </div>
                                <button type="submit" class="btn btn-default" name="SearchGeo">Search</button>
                                <button type="button" class="btn btn-default" name="ShowCircle" onclick="showCircle()">Show circle</button>
                            </form>
                        </div>
                        <div class="tab-pane" id="textcoordinates">
                            <form action="/treets/searchGeolocatedText" method="post">
                                <div class="form-group">
                                    <label for="src2">Text:</label>
                                    <input type="text" class="form-control" id="src2" name="src2">
                                    <br>
                                    <label for="lat2">lat:</label>
                                    <input type="text" class="form-control" id="lat2" name="lat2">
                                    <label for="lon2">lon:</label>
                                    <input type="text" class="form-control" id="lon2" name="lon2">
                                    <label for="radius2">radius [km]:</label>
                                    <input type="text" class="form-control" id="radius2" name="radius2" value="15">
                                    <!--label for="lim3">Limit:<input type="checkbox" class="form-control" checked="checked" id="lim3" name="lim3"></label-->
                                </div>
                                <button type="submit" class="btn btn-default" name="SearchGeolocatedText">Search</button>
                                <button type="button" class="btn btn-default" name="ShowCircle2" onclick="showCircle()">Show circle</button>
                            </form>
                        </div>
                        <div class="tab-pane" id="user">
                            <form action="/treets/searchUser" method="post">
                                <div class="form-group">
                                    <label for="src">user:</label>
                                    <input type="text" class="form-control" id="src" name="src">
                                </div>
                                <button type="submit" class="btn btn-default" name="searchUser">Search</button>
                            </form>
                        </div>
                        <div class="tab-pane" id="jcoql">
                            <form action="/treets/query" method="post">
                                <div class="form-group">
                                    <label for="src">Query:</label>
                                    <!--  class="span6"  -->
                                    <textarea id="query" name="query" class="form-control" cols="40" rows="7"></textarea>
                                </div>
                                <button type="submit" class="btn btn-default" name="executeQuery">Execute</button>
                            </form>
                        </div>
                    </div>

                    <br>
					<!-- <form action="/export" method="post">
						<button type="submit" class="btn btn-default">Export to CSV</button>
					</form> -->
                </div>
            </div>
        </div>
        <script type=application/javascript src="{{url_for('static',filename='js/map.js')}}"></script>
        <script type="text/javascript">
            map.on('load', function(){

                map.addSource('traces', {type: 'geojson', data: {{template_args['traces_geojson'] | safe}}});
                map.addLayer({
                    'id': 'traces',
                    'type': 'line',
                    'source' :'traces',
                    "layout": {
                        "line-join": "bevel",
                        "line-cap": "butt"
                    },
                    "paint": {
                        "line-color": {
                            "type": "identity",
                            property: 'color'},
                        "line-width": 3
                    }
                });


                map.addSource('tweets', {type: 'geojson', data: {{template_args['tweets_geojson'] | safe}}});
                map.addLayer({
                    'id': 'tweets',
                    'type': 'circle',
                    'source' :'tweets',
                    'paint': {
                    // make circles larger as the user zooms from z12 to z22
                        'circle-radius': 5,
                        'circle-color': {
                            "type": "identity",
                            property: 'color'}
                    }
                });
                //     window.setInterval(function(){
                //     map.getSource('tweets');
                //     map._update();
                // }, 5000);
            });
        </script>
    </body>
</html>
