<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

		<link rel="stylesheet" type=text/css href="{{url_for('static',filename='css/bootstrap.min.css')}}">
		<link rel="stylesheet" type=text/css href="{{url_for('static',filename='css/map.css')}}">
        <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.37.0/mapbox-gl.css' rel='stylesheet' />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.37.0/mapbox-gl.js'></script>
        <script type=application/javascript src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div id='map'></div>
                </div>
                <div class="col-md-4">
                    <p>Latitude, Longitude</p>
                    <p id="current-coords">...</p>

                    <p id="result-prompt">{{template_args['shown_traces']}} Trace(s) </p>
                    <p id="result-prompt">{{template_args['shown_tweets']}} Tweet(s) </p>
                    <br>
                    <br>
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#text" data-toggle="tab">Text</a></li>
                        <li><a href="#coordinates" data-toggle="tab">Coordinates</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="text">
                            <form action="/treets/searchText" method="post">
                                <div class="form-group">
                                    <label for="src">Testo:</label>
                                    <input type="text" class="form-control" id="src" name="src">
                                </div>
                                <button type="submit" class="btn btn-default" name="SearchText">Search</button>
                            </form>
                        </div>
                        <div class="tab-pane" id="coordinates">
                            <form action="/treets/geo" method="post">
                                <div class="form-group">
                                    <label for="lat">latitudine:</label>
                                    <input type="text" class="form-control" id="lat" name="lat">
                                    <label for="lon">longitudine:</label>
                                    <input type="text" class="form-control" id="lon" name="lon">
                                    <label for="radius">raggio [km]:</label>
                                    <input type="text" class="form-control" id="radius" name="radius" value="15">
                                </div>
                                <button type="submit" class="btn btn-default" name="SearchGeo">Search</button>
                                <button type="button" class="btn btn-default" name="ShowCircle" onclick="showCircle()">Show circle</button>
                            </form>
                        </div>
                    </div>

                    <br>
					<form action="/export" method="post">
						<button type="submit" class="btn btn-default">Export to CSV</button>
					</form>
                </div>
            </div>
        </div>
        <script type=application/javascript src="{{url_for('static',filename='js/map.js')}}"></script>
        <script type="text/javascript">
            map.on('load', function(){

                map.addSource('traces', {type: 'geojson', data: {{template_args['traces_geojson'] | safe}}});
                map.addLayer({
                    'id': 'traces',
                    'type': 'line',
                    'source' :'traces',
                    "layout": {
                        "line-join": "round",
                        "line-cap": "round"
                    },
                    "paint": {
                        "line-color": "#888",
                        "line-width": 4
                    }
                });


                map.addSource('tweets', {type: 'geojson', data: {{template_args['tweets_geojson'] | safe}}});
                map.addLayer({
                    'id': 'tweets',
                    'type': 'circle',
                    'source' :'tweets',
                    'paint': {
                    // make circles larger as the user zooms from z12 to z22
                        'circle-radius': {
                            'base': 2.75,
                            'stops': [[1, 3], [22, 180]]
                        },
                        'circle-color': '#fff'
                    }
                });
                //     window.setInterval(function(){
                //     map.getSource('tweets');
                //     map._update();
                // }, 5000);
            });
        </script>
    </body>
</html>
